.images {
    display: flex;
    justify-content: center;
}

.flag {
    height: 200px;
    margin: 4px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px var(--color-shadow);
}

.matrix {
    height: 200px;
    width: 100%;
    margin: 8px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px var(--color-shadow);
    font-family: monospace;
}