#page-header {
    height: 60px;
    width: calc(100vw - 8px);
    margin: 0;
    padding: 8px 4px 8px 4px;
    background-image: linear-gradient(
            var(--color-header-vgradient-start), var(--color-header-vgradient-end)),
        linear-gradient(90deg,
            var(--color-header-hgradient-start), var(--color-header-hgradient-end));
    display: inline-flex;
    align-items: center;
    text-align: left;
}

#page-header #title {
    display: inline-flex;
    align-items: center;
    text-align: left;
}

#page-header .icon {
    height: 50px;
    margin-left: 8px;
    border-radius: 50%;
}

#page-header h1 {
    margin-left: 18px;
    padding-right: 24px;
    border-right: 1px solid var(--color-bg-alt);
}

#page-header a, #page-header a:visited {
    color: var(--color-fg);
    text-decoration: none;
}

#nav-bar {
    margin: 0 0 0 8px;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    text-align: left;
}

#nav-bar a, #nav-bar a:visited {
    padding: 16px;
    border-radius: 6px;
    color: var(--color-fg-alt);
    text-decoration: none;
}

#nav-bar a#current {
    color: var(--color-fg);
}

#nav-bar a:hover {
    background-color: var(--color-button-bg-alt);
    color: var(--color-fg);
    box-shadow: 5px 5px 5px var(--color-shadow);
}