html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: sans-serif;
}

/* Header */

header {
    width: calc(100vw - 8px);
    height: 60px;
    margin: 0;
    padding: 8px 4px 8px 4px;
    display: inline-flex;
    align-items: center;
    text-align: left;
    background-image: linear-gradient(
            var(--color-header-vgradient-start), var(--color-header-vgradient-end)),
        linear-gradient(90deg,
            var(--color-header-hgradient-start), var(--color-header-hgradient-end));
}

header .title {
    display: inline-flex;
    align-items: center;
    text-align: left;
}

header .icon {
    height: 50px;
    margin-left: 8px;
    border-radius: 50%;
}

header h1 {
    margin-left: 18px;
    padding-right: 24px;
    border-right: 1px solid var(--color-bg-alt);
}

header a, header a:visited {
    color: var(--color-fg);
    text-decoration: none;
}

#nav {
    display: inline-flex;
    align-items: center;
    text-align: left;
    margin: 0 0 0 8px;
    padding: 0;
    list-style-type: none;
}

#nav a, #nav a:visited {
    padding: 16px;
    border-radius: 6px;
    color: var(--color-fg-alt);
    text-decoration: none;
}

#nav a:hover {
    background-color: var(--color-button-bg-alt);
    color: var(--color-fg);
    box-shadow: 5px 5px 5px var(--color-shadow);
}

#nav a#current {
    color: var(--color-fg);
}

/* Content */

#content {
    flex: 1 0 auto;
    padding: 8px 32px 8px 32px;
}

/* Footer */

footer {
    flex-shrink: 0;
    padding: 16px;
    color: var(--color-fg-alt);
    text-align: center;
    font-size: small;
}

/* Tags */

hr {
    color: var(--color-bg-alt);
    margin: 10px;
}

h1 {
    font-size: x-large;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
}